/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
    margin: 0;
    font-family: sans-serif;
}

:root{
    --azul: #32b9cd;
    --amarelo: #e3b062;
}

/*HEADER*/

.header {
    background-color: black;
    border-bottom: 3px solid var(--azul);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px; /*cima direita baixo esquerda - sentido horário*/
} 

.titulo{
    color: var(--azul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none;
    width: 300px;
}

.navbar a{
    color: var(--amarelo);
    text-decoration: none;
}

.agora{
    font-weight: bolder;
}

.banner{
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p{
    color: #fff;
    width: 170px;
    margin: 0;
    font-size: 24px;
}

.banner .container span{
   font-weight: bold;
}

/*MISSÃO E VALORES*/

.social{
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 250px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img{
    width: 120px;
    height: 120px;
}

.box h4{
    margin: 0;
    margin-top: 10px;
    color: #D16A8A;
}

/*FOOTER*/

.footer {
    height: 120px;
    width: 100%;
    background-color: var(--azul);
}

.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dcdcdc;
}

.footer h4 {
    margin: 0;
}

/*Login*/

/*Container do Login - Banner*/
.login .container{
    height: 400px;
    width: 100%;
    height: 600px;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Card do Login*/
.card-login{
    background-color: #E5E5E5;
    width: 600px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*Título do login*/
.card-login h2{
    font-weight: bold;
    font-size: 30px;
    color: #D16A8A;
    margin: 0%;
}

/*Informações do formulário*/
.card-login .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Campos do formulário*/
.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.campo span{
    color: #D16A8A;
    font-weight: bold;
    font-size: 15px;
}

/*Inputs do formulário*/
input{
    width: 500px;
    height: 30px;
    border: solid 2px var(--azul);
    border-radius: 10px;
    text-align: center; 
}

/*Botão do login*/
.botao{
    width: 100px;
    height: 28px;
    background-color: #EF135B;
    border: none;
    border-radius: 5px;
    color: #dcdcdc;
    font-size: 18px;
    margin-top: 2%;
}

/*Cadastro*/

/*Card do Cadastro*/
.card-cadastro{
    background-color: #E5E5E5;
    width: 600px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*Card do cadastro*/
.card-cadastro .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Títilo do cadastro*/
.card-cadastro h2{
    font-weight: bold;
    font-size: 30px;
    color: #D16A8A;
    margin-top: 0;
}